* {
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

body {
    /* border: 2px solid red; */
    background-color: #355C9B;
    color: #f1f1f1;
    max-width: 1350px;
    height: 100vh;
    margin: auto;
}

.top-heading {
    text-align: center;
    font-size: 2.7rem;
    font-weight: 800;
}

.main {
    width: 100%;
}

.inputFields-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.add-budget,
.exp-description {
    /* border: 2px solid lawngreen; */
    width: 30%;
    background-color: #406fb9;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    transition: .4s;
}

.add-budget:hover,
.exp-description:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
}

.add-budget label,
.exp-description label {
    font-size: 25px;
    font-weight: 600;
}

.add-budget input,
.exp-description input {
    font-size: 20px;
    padding: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.add-budget button,
.exp-description button {
    width: 200px;
    background-color: #355C9B;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: .3s;
}

.add-budget button:active,
.exp-description button:active {
    background-color: #4b83dd;
}

.add-budget button:hover,
.exp-description button:hover {
    box-shadow: rgba(0, 0, 0, 0.904) 5px 3px 10px;
}

.display-budget{
    /* border: 2px solid; */
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.set-budget,
.remaining-budget{
    font-size: 20px;
    text-align: center;
}



/* table */

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;

    overflow: hidden;
    width: 75%;
    margin-left: auto;
    margin-right: auto
}

td {
    background-color: #FFA000;
    color: #FFFFFF;
}

td,
td {
    padding: 10px;
    border: 1px solid black;
}



td:hover {
    background-color: #4b83dd;
    color: white;
}

th:first-child,
td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child,
td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

tr:first-child 
th:first-child {
    border-top-left-radius: 10px;
}

tr:first-child 
th:last-child {
    border-top-right-radius: 10px;
}

tr:last-child 
td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child 
td:last-child {
    border-bottom-right-radius: 10px;
}
